.wrap{
    border: 1px solid #000;
    max-width: 360px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 145%;
}

.tag{
    display: inline-block;
    max-width: 68px;
    width: 100%;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.large{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
}
.point1{font-size: 21px;}
.point2{font-size: 19px;}
.headline{font-size: 17px;}
.title{font-size: 16px;}
.body{font-size: 14px;}
.notice{font-size: 13px;}
.info{font-size: 12px;}
.label{font-size: 10px;}
.font-test{display: flex; margin-bottom: 20px;}
.font-test:last-child{margin-bottom: 0;}